.menu {
    margin: 20px 0 40px 0;

    &-items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;

        &-item {
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid var(--theme-accent);
            transition: all 200ms ease-in;
            color: var(--text);
            padding: 10px 0;

            &-in {
                text-align: center;
                transition: all 300ms ease-in;
                &:nth-child(1) {
                    font-weight: bold;
                    font-size: 18px;
                }

                &:nth-child(2) {
                    font-size: 12px;
                    padding: 0 8px;
                    color: var(--text) !important;
                }
            }

            &:hover {
                background-color: var(--theme-bg);
                .menu-items-item-in {
                    &:nth-child(1) {
                        color: var(--theme-main);
                        scale: 1.1;
                    }
                }
            }
        }

        @media screen and (max-width: 720px) {
            grid-template-columns: repeat(5, 1fr);
        }

        @media screen and (max-width: 480px) {
            grid-template-columns: repeat(3, 1fr);
            font-size: 12px !important;
        }
    }
}