.menu {
    margin: 20px 0;
    &-items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        &-item {
            min-height: 40px;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                border: 1px solid var(--theme-accent);
                color: var(--text);
                transition: all 200ms ease-in;
                &:hover {
                    background-color: var(--theme-main);
                    color: var(--foreground);
                }
            }
        }
    }
}