.dash {
    margin-top: 80px;
    &-intro {
        small {
            display: block;
            transform: translateY(-10px);
            span {
                color:var(--theme-accent);
            }
        }
        @media screen and (max-width: 720px) {
            small {
                transform: translateY(-10px);
                padding-right: 25px;
                width: 100%;
                text-align: right;
            }
        }
    }
}