.profile {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 100px;
    &-left {
        &-image {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 20px 0;

            img {
                height: 200px;
                width: 200px;
                border-radius: 100%;
            }
        }
        &-below {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &-right {
        h2 {
            margin-bottom: 20px;
        }
        &-edit {
            width: 600px;
            display: flex;
            align-items: right;
            justify-content: right;
        }
    }
}