.profile {
    &-left {
        &-below {
            margin-bottom: 20px;
        }
    }
    &-right {
        h3 {
            margin-top: 10px;
        }
        ul {
            list-style-type: none;
            margin: 20px 0;
            li {
                padding: 5px 0;
                border-bottom: 1px solid var(--theme-bg);
            }
        }
    }
}