.footer {
    margin-top: 40px;
    background-color: var(--background-sec);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // min-height: 300px;

    &-in {
        padding: 20px;
        &:nth-child(2) {
            padding-top: 80px;
        }

        ul {
            margin-left: 5px;
            li {
                list-style-type: none;
                margin-top: 10px;
                a {
                    // border-bottom: 1px solid var(--theme-main);
                    padding: 0 20px;
                    font-size: 17px;
                }
            }
        }

        .socials {
            display: flex;
            margin-top: 10px;
            &-icon {
                margin: 0 10px;
            }
        }
    }
}