.hero {
    padding: 60px 0 0 30px;
    h1 {
        font-size: 38px !important;
    }
    p {
        width: 480px;
    }

    @media screen and (max-width: 500px) {
        p {
            width: 100%;
        }
    }
}