// :root {
//   --background: #14151a;
//   --background-sec: #121216;
//   --theme-main: #9c069c;
//   --theme-accent: #b407b4;
//   --theme-bg: #9c069c4b;
//   --foreground: white;
//   --text: #d1d5d1;
//   --font-lora: 'Lora', serif;
//   --font-poppins: 'Poppins', serif;
//   --warning: rgb(189, 36, 36);
//   --overlay-color: rgba(128, 128, 128, 0.192);
// }
:root {
  --background: rgb(221, 217, 217);
  --background-sec: rgb(238, 234, 234);
  --theme-main: #9c069c;
  --theme-accent: #b407b4;
  --theme-bg: #9c069c4b;
  --foreground: black;
  --text: #272727;
  --font-lora: 'Lora', serif;
  --font-poppins: 'Poppins', serif;
  --warning: rgb(189, 36, 36);
  --overlay-color: rgba(128, 128, 128, 0.192);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
.link {
  color: var(--theme-accent);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: var(--theme-main);
  }
}

main {
  margin: 50px 50px 0 50px;

  @media screen and (max-width: 720px) {
    margin: 50px 10;
  }
}

.bg {
  background-color: var(--background);

  &:hover {
    background-color: var(--background-sec);
  }

  &-sec {
    background-color: var(--background-sec);

    &:hover {
      background-color: var(--background);
    }
  }

}

.cta {
  display: block;
  // border: 1px solid var(--theme-main);
  padding: 5px 30px;
  font-size: 18px;
}

.body-cont {
  margin: 40px 0 80px 0;
}

.error {
  background-color: var(--warning);
  color: var(--foreground);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  padding: 20px;
  z-index: 4;

  &-logo {
    font-size: 24px;
  }

  &-menu,
  &-user {
    padding-top: 8px;
  }

  &-menu {
    display: flex;
    overflow: hidden;
    text-overflow: hidden;

    &-item {
      padding: 0 10px;
    }
  }

  &-user {
    a {
      padding: 0 10px;
    }
  }

  &-burger {
    display: none;
  }


  &-mobile {
    top: 0;
    left: 0;
    z-index: 1000;
    position: absolute;
    background-color: var(--theme-bg);
    width: 100%;
    height: 100%;
    position: fixed;

    &-burger {
      display: flex;
      align-items: right;
      justify-content: right;
      padding-right: 25px;
      padding-top: 25px;
    }

    &-menu {
      margin-top: 40px;

      &-item {
        margin: 20px 0;

        a,
        span {
          color: var(--foreground) !important;
        }

        display: flex;
        text-align: center;
        justify-content: center;
      }
    }
  }

  @media screen and (max-width: 720px) {
    grid-template-columns: 80% 20%;

    &-menu {
      display: none;
    }

    &-user {
      display: none;
    }

    &-burger {
      display: block;
      text-align: right;
      padding: 10px;
    }
  }
}
.box-shadow {
  box-shadow: 0 10px 30px -10px rgba(28, 32, 28, 0.7);
}
.nav-solid {
  // background-color: var(--background-sec) !important;
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  transition: 0.3s ease-in-out;
}

.bg {
  background-color: var(--background);

  &-sec {
    background-color: var(--background-sec);
  }
}

.hl-bg {
  border: 1px solid transparent;

  &:hover {
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-main);
  }
}

b {
  color: var(--foreground);
}

.blur {
  backdrop-filter: blur(20px);
  filter: blur(20px);
}

ul {
  li {
    span {
      font-weight: bold;
      color: var(--foreground)
    }
  }
}

.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.warning {
  color: var(--warning) !important;
}

.success {
  color: var(--theme-main) !important;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.navback {
  font-size: 18px;
  margin-bottom: 20px;
  &-icon {
    transform: translateY(2px);
    margin-right: 10;
  }
}

.options {
  &-option {
    position: relative;
    background-color: var(--background-sec);

    &-main {
      padding: 10px;
      background-color: transparent;
      height: 100%;
      cursor: pointer;
      h1 {
        transition: all 300ms ease-in-out;
      }
      p {
        width: 80%;
      }

      position: relative;
      z-index: 2;

      &:hover {
        h1 {
          margin-left: 20px;
        }
      }
    }

    &-mock {
      position: absolute;
      height: 0px;
      width: 0px;
      background-color: var(--overlay-color);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      transition: height 0.3s ease, width 0.3s ease;
      cursor: pointer;
    }

    &:hover .options-option-mock {
      height: 100%;
      width: 100%;
    }
  }
}

select {
  // width: 380px;
  padding: 5px 10px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text);
  border-bottom: 1px solid var(--theme-accent);

}

.border {
  border: 1px solid var(--theme-accent) !important;
}

.toastcustom {
  background-color: var(--theme-bg);
}

.text {
  &-right {
    text-align: right;
  }
}

.notification {
  color: var(--text);
  font-family: var(--font-poppins) !important;

  &-title {
    color: var(--foreground) !important;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &-body {
    font-size: 14px;
    margin-bottom: 5px;
  }

  &-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &-in {
      &:nth-child(1) {
        color: var(--foreground) !important;
      }

      font-size: 11px;
    }
  }
}

.img-cont {
  position: relative;

  img {
    object-fit: cover;
    object-position: center;
  }
}


input,
select {
  min-width: 400px;
  background-color: transparent;
  border: none;
  padding: 5px 10px 5px 100px;
  border-bottom: 4px solid transparent;
  color: var(--foreground);
  transition: all 300ms ease-in-out;

  &:focus,
  &:active {
    border-bottom: 4px solid var(--theme-main);
    outline: none;
  }

  &:focus {
    padding: 5px 10px;
  }

  &:focus+label {
    transform: translateY(-20px);
  }

}

select option {
  color: var(--foreground);
  outline: none;
  background-color: var(--background);
}

.roundcards {
  &-card {
    border-bottom: 1px solid var(--theme-bg);
    transition: border 0.3s ease;
    cursor: pointer;

    &-img {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 10px 0;

      .img-cont {
        height: 150px;
        width: 150px;
        transition: all 300ms ease;

        img {
          border-radius: 100%;
        }
      }

      @media screen and (max-width: 900px) {
        .img-cont {
          height: 100px;
          width: 100px;
        }
      }
    }

    &-details {
      margin-bottom: 10px;

      ul {
        list-style-type: none;

        li {
          text-align: center;

          span {
            color: var(--foreground);
          }
        }
      }

      select {
        min-width: 100%;
        padding: 5px 10px 5px 5px;
      }

      .buttons {
        div {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }

    &:hover {
      border-bottom: 1px solid var(--theme-accent);
    }
  }
}

.grid {
  display: grid;
  gap: 15px;
  transition: grid 300ms ease-in-out;

  &-four {
    grid-template-columns: repeat(4, 1fr);
  }

  &-five {
    grid-template-columns: repeat(5, 1fr);
  }

  &-six {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 920px) {

  .grid-six,
  .grid-four,
  .grid-five {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 720px) {

  .grid-six,
  .grid-four,
  .grid-five {
    grid-template-columns: repeat(3, 1fr);
  }
}

.ov {
  z-index: 1;

  &-body {
    position: relative;
    z-index: 2;

    &-in {
      z-index: 3;
    }

    &:hover .ov-mock {
      height: 100%;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    &:hover .ov-body-in {
      z-index: 3;
    }
  }

  &-mock {
    background-color: var(--overlay-color) !important;
    height: 0px;
    width: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: height 0.3s ease, width 0.4s ease;

    &-selected {
      height: 100%;
      width: 100%;
    }
  }
}

.pt-4 {
  padding-top: 40px;
}

.screen {
  display: grid;
  transition: grid 300ms ease-in-out;

  &-max {
    grid-template-columns: 100%;

    .second {
      display: none;
    }
  }

  &-min {
    grid-template-columns: 70% 30%;

    .second {
      display: block;
    }
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.entrybar {
  padding: 10px;
  border: 1px solid var(--theme-bg);
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 300ms ease;

  &:hover {
    border: 1px solid var(--theme-accent);
    padding: 10px 15px;
  }
}

p {
  span {
    font-weight: bold;
    color: var(--foreground);
  }
}

.buttons {
  margin-top: 20px;
}

.circle-bg {
  background-color: var(--theme-bg);
  border-radius: 100%;
  width: 800px;
  height: 800px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -30%);
  z-index: -1;
  filter: blur(2px);
  opacity: 0.3;
}

.right {
  display: flex;
  text-align: right;
  align-items: right;
  justify-content: right;
}