button {
    background-color: var(--theme-main);
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    color: white;
    transition: all 300ms ease-in;
    &:hover {
        background-color: var(--theme-accent);
    }
    &.disabled {
        background-color: grey;
        cursor: not-allowed;
        opacity: 0.6;
    }
}